<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKKqkAqx1YIv_2AePSY0CWLkwyPicEQnw</string>
	<key>GCM_SENDER_ID</key>
	<string>158848660088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hypertro.mobile</string>
	<key>PROJECT_ID</key>
	<string>hypertro-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>hypertro-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158848660088:ios:c6864ab8a3e86c6ddef38d</string>
</dict>
</plist>